*, *:before, *:after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Quicksand', sans-serif;
}

body {
	height: 100vh;
	background: linear-gradient(to right, #2158D3 , #f9f9f9);
}

.container {
	position: absolute;
	width: 50%;
	min-width: 500px;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	background-color: #0f0f14;
	padding: 50px, 10px;
	display: grid;
	justify-items: center;
}

h2 {
	font-size: 32px;
	font-weight: 600;
	color: #ffffff;
}

.label {
	width: 40px;
	font-size: 28px;
	font-weight: 600;
	background-color: #0f0f14;
	color: #ffffff;
	padding: 20px 0;
	text-align: center;
	margin-top: 30px;
}

.decrement, .clear, .increment{
	width: 60px;
	padding: 15px 0;
	background-color:#2158D3;
	color: #ffffff;
	border: none;
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 30px;
}

button {
	cursor: pointer;
}

button:hover:not([disabled]) {
	background-color: rgba(33, 88, 211, 0.33);
	color: #fffff;
}

@media only screen and (max-width: 768px) {
	body {
		display: block;
		background: linear-gradient(to right, #2158D3 , #f9f9f9);
		align-items: center;
		margin: 0;
	}